@page
@model MappingToolModel
@{
    ViewData["Title"] = "Mapping Tool";
   // Layout = "_LayoutGIS";
}

@section css_head {
    <style>
        html, body, #viewDiv {
            padding: 0;
            margin: 0;
            position:relative;
            top:0px;
            height: 100%;
            width: 100%;
        }
        .mapArea_LostAngel {
            height: 100%;
            width: 100%;
            position: relative;
            /* mPerholtz - this is the height of the main top menu.  
            /* Otherwise the map is hidden underneath the top navigation. */
            top:50px !important;
        }
    </style>
}

<div class="mapArea_LostAngel">
    <div id="viewDiv"></div>
</div>